@{
    ViewData["Title"] = "Venta de Libros";
}

<h1>Venta de Libros</h1>

<h2>Proceso de venta</h2>
<h3>Datos del Cliente</h3>

<form asp-action="IniciarVenta">
    <div class="form-group row mb-4">
        <div class="col-sm-2">
            <label>Nombre</label>
        </div>
        <div class="col-sm-4">
            @Html.TextBox("nombre", "", new { @class = "form-control" })
        </div>
        <div class="col-sm-2">
            <label>Apellido</label>
        </div>
        <div class="col-sm-4">
            @Html.TextBox("apellido", "", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row mb-4">
        <div class="col-sm-2">
            <label>Email</label>
        </div>
        <div class="col-sm-4">
            @Html.TextBox("email", "", new { @class = "form-control" })
        </div>
        <div class="col-sm-2">
            <label>Dirección</label>
        </div>
        <div class="col-sm-4">
            @Html.TextBox("direccion", "", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row mb-4">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <input type="submit" value="Iniciar Venta" class="btn btn-primary" />
        </div>
    </div>
</form>
